**/*.log
**/*.md
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitignore
**/docker-compose.*.yml
**/docker-compose.yml
**/Dockerfile
.editorconfig
.env.*.local
.env.local
.env.local.php
.php_cs.cache
.php-cs-fixer.cache
.gitlab-ci.yml
bin/*
!bin/console
!bin/crontab
misc/
public/bundles/
.idea/
vendor/
var/